extends sidebar
block div#mycontent
  div.caption
    i(class = "glyphicon glyphicon-link")
      span 
        |Conference Webhook
    div.bodycontainer.table-scrollable
      table(class = "table table-striped table-bordered table-hover",id = "agents")
        tbody
            - for(i in mydata) {
                tr
                  td=i
                  td=mydata[i]
              - }
      
  div.caption
    i(class = "glyphicon glyphicon-pencil")
      span 
        |Update Webhook
    form(action="/webhook/updatewebhook",method="post")
      input(type="text",value =mydata.webhook,name="newwebhook" size="50")
      button(class = "btn btn-info" type="submit")
                              | Submit
    