extends layout
block content
  div#header
    h3
      center CloudKibo Data Extraction Application
    a(href="#",class="btn btn-default",id="opener")
      i(class="fa fa-bars")
   
  div(id = "slide-panel")
    div#nav
      ul
        li 
          if(currentURL == '/userprofile/')
            a(href='/userprofile/').current 
          else
            a(href='/userprofile/')
              i(class="fa fa-user" , aria-hidden="true")
                span(class="title")
                  | User Profile
        li 
          if(currentURL == '/contactlist/')
            a(href='/contactlist/').current 
          else
            a(href='/contactlist/')
              i(class="fa fa-phone" , aria-hidden="true")
                span(class="title")
                  | Contact List
         li 
          if(currentURL == '/userchat/')
            a(href='/userchat/').current 
          else
            a(href='/userchat/')
              i(class="fa fa-comment" , aria-hidden="true")
                span(class="title")
                  | User Chat
         li 
          if(currentURL == '/meetingrecord/')
            a(href='/meetingrecord/').current 
          else
            a(href='/meetingrecord/')
              i(class="fa fa-group" , aria-hidden="true")
                span(class="title")
                  | Meeting Record                  
                  
  block div#mycontent
  div#footer
    span(class = 'cc')
      center
        | 2016 © CloudKibo Data Extraction Application
