extends sidebar
block div#mycontent
  div.caption
    i(class = "glyphicon glyphicon-link")
      span 
        |Meeting URLs 
    div
    div(class = "control-group span6")
        label
          | URL for Agent:
        a(href=meetingurl.url_agent)
          |Meeting URL for Agent
        label
          | URL for Visitor:
        a(href=meetingurl.url_customer)
          | Meeting URL for Customer
          
